<?php
use Doctrine\Common\Annotations\AnnotationRegistry;
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
 
 // http://stackoverflow.com/questions/20454426/how-to-make-doctrine-and-zf2-form-annotations-work-together
$pathToZF2Library = __DIR__ . '/../../vendor/zendframework/zendframework/library/';
AnnotationRegistry::registerAutoloadNamespace ( 'Zend\Form\Annotation', $pathToZF2Library );

return array (
		'doctrine' => array (
				'connection' => array (
						'orm_default' => array (
								'params' => array (
										'host' => '%MINIBUS_DB_HOST%',
										'port' => '%MINIBUS_DB_PORT%',
										'user' => '%MINIBUS_DB_USER%',
										'password' => '%MINIBUS_DB_PASSWORD%',
										'dbname' => '%MINIBUS_DB_DBNAME%',
										'driver' => 'pdo_mysql' ,
										'charset' => 'utf8',
                						'driverOptions' => array(
                        						1002=>'SET NAMES utf8'
                						)
								) 
						) 
				) 
		) ,
		'data-store-directory' => '%DATA_DIRECTORY%' ,
		'process-log-directory' => '%LOGS_DIRECTORY%' ,
		'number-of-executions-to-keep' => 5,
		'auth' => array (
				'filePath' => __DIR__ . "/users.txt" 
		),
);
